<div class="container page-content">
    <div class="row">
        <div class="col-3">
            <div class="card vault-filters mb-4">
                <div class="card-header">{{'tools' | i18n}}</div>
                <div class="card-body">
                    <ul class="fa-ul card-ul">
                        <li [ngClass]="{active: toolsFilter.generator}" (click)="filter('generator')">
                            <a>{{'passwordGenerator' | i18n}}</a>
                        </li>
                        <li [ngClass]="{active: toolsFilter.import}" (click)="filter('import')">
                            <a>{{'importData' | i18n}}</a>
                        </li>
                        <li [ngClass]="{active: toolsFilter.export}" (click)="filter('export')">
                            <a>{{'exportVault' | i18n}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
