.card {
  margin: 0.5em 0 0.5em 0;
  @include themify($themes) {
    background-color: themed("foregroundColor");
    border-color: themed("borderColor");
    color: themed("textColor");
  }

  &.text-danger {
    &.text-danger > .card-body {
      @include themify($themes) {
        color: themed("danger");
      }
    }
  }
}

.card-header,
.modal-header {
  font-weight: bold;
  text-transform: uppercase;

  small {
    font-weight: normal;
    text-transform: none;
    @extend .text-muted;
  }
}

.card-header {
  @include themify($themes) {
    background-color: themed("headerColor");
    color: themed("headingColor");
  }

  a:hover {
    &:not(.badge) {
      @include themify($themes) {
        color: themed("learnMoreHover");
      }
    }
  }
}

.card-body-header {
  font-size: $font-size-lg;
  @extend .mb-4;
}

// card-body direct ul.fa-ul.card-ul + direct but not expand li
// apply .active styles and hover styles
.card .card-body > ul.fa-ul.card-ul {
  & > li:not(.expand).active {
    @include filterPanelActive;
  }
  & > li:not(.expand):hover {
    @include filterPanelHover;
  }
}

// card-body all ul.fa-ul.card-ul li direct div.d-flex
// apply .active styles and hover styles
.card .card-body ul.fa-ul.card-ul {
  li {
    word-break: break-all;
    line-height: 30px;
    div.d-flex {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      line-height: 1.5rem;
      padding-bottom: 5px;
      a.text-break {
        flex: 1 0 50%;
        margin-top: 3px;
      }
      a.text-muted {
        align-self: flex-start;
      }
    }
    & > div.d-flex.active {
      @include filterPanelActive;
    }
    & > div.d-flex:hover {
      @include filterPanelHover;
    }
    & > a {
      padding-left: 1.5rem;
    }
    &.expand {
      ul.fa-ul.card-ul.carets {
        display: flex;
        flex-direction: column;
        margin-left: 0 !important;
      }
    }
  }

  .fa-li {
    align-self: flex-start;
    position: static;
    margin-top: 8px;
    text-align: center;
    width: 1.2857142857em;
  }

  .fa-folder-o,
  .fa-cube,
  .fa-pencil {
    align-self: flex-start;
    margin: 8px 3px 0 0;
    width: 1.2857142857em;
    text-align: center;
  }

  &.carets {
    margin-left: 1.1em;
  }
}

.card > .card-body > ul.fa-ul.card-ul > li > div.d-flex {
  @include recursiveIndent();
}

.card-org-plans {
  h2 {
    font-size: $font-size-lg;
  }
}

.card-body {
  &:not(.bg-light > .card-body) {
    @include themify($themes) {
      background-color: themed("foregroundColor");
      color: themed("textColor");
    }
    &.card-body a:not(li a) {
      @include themify($themes) {
        font-weight: themed("linkWeight");
      }
    }
  }
}
