.navbar {
  z-index: 2;

  @include themify($themes) {
    background-color: themed("navBackground");
  }

  &.nav-background-alt {
    @include themify($themes) {
      background-color: themed("navBackgroundAlt");
    }
  }

  .dropdown-menu {
    max-width: 300px;
    min-width: 200px;

    .dropdown-item-text {
      line-height: 1.3;
      @include themify($themes) {
        color: themed("dropdownTextColor");
      }

      span,
      small {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.text-muted {
          @include themify($themes) {
            color: themed("dropdownTextMuted") !important;
          }
        }
      }
    }
  }
  .nav-item {
    > .nav-link {
      padding-top: 0;
      padding-bottom: 0;

      @include themify($themes) {
        font-weight: themed("navWeight");
      }
    }
    &.active > .nav-link {
      @include themify($themes) {
        font-weight: themed("navActiveWeight");
      }
    }
  }
}

.dropdown-item {
  &:hover {
    background-color: $navbar-bg;
    color: #ffffff;
  }
}

.navbar-brand {
  margin-bottom: -20px;
  margin-top: -20px;
}

ul.navbar-nav {
  line-height: $navbar-height - 6px; // subtract border bottom and top of nav-item
  padding: 0 10px;
  li.nav-item {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;

    &:hover {
      background-color: $navbar-bg;
    }
    &.active {
      background-color: $navbar-bg;
      border-bottom-color: $primary-accent;
    }
  }
}

.nav-tabs .nav-link.active {
  @include themify($themes) {
    background: themed("navActiveBackground");
    border-color: themed("borderColor");
  }
}

.org-nav {
  height: $org-header-height;
  min-height: $org-header-height;
  top: $navbar-height;
  z-index: 1;

  @include themify($themes) {
    background-color: themed("navOrgBackgroundColor");
    border-bottom: 1px solid themed("borderColor");
    color: themed("textColor");
  }

  .container {
    height: 100%;
  }

  .nav-tabs {
    border-bottom: none;

    a {
      &:not(.active) {
        border-color: transparent;
        @include themify($themes) {
          color: themed("textColor");
        }
      }

      &.active {
        font-weight: bold;
        padding-top: calc(#{$nav-link-padding-y} - 2px);
        @include themify($themes) {
          border-top: 3px solid themed("primary");
          color: themed("linkColor");
        }
      }

      &.disabled {
        @include themify($themes) {
          color: themed("inputDisabledColor");
        }
      }
    }
  }

  .org-name {
    line-height: 1;
    span {
      display: block;
      font-size: $font-size-lg;
      @include themify($themes) {
        color: themed("headingColor");
      }
    }
  }
}
