.password-wrapper {
  min-width: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

.password-row {
  min-width: 0;
}

.password-letter {
  @include themify($themes) {
    color: themed("pwLetter");
  }
}

.password-number {
  @include themify($themes) {
    color: themed("pwNumber");
  }
}

.password-special {
  @include themify($themes) {
    color: themed("pwSpecial");
  }
}

app-vault-groupings,
app-org-vault-groupings,
.groupings {
  .card {
    #search {
      margin: 0.5rem;
      width: calc(100% - 1rem);
      @include themify($themes) {
        background-color: themed("inputBackgroundColor");
        border-color: themed("inputBorderColor");
        color: themed("inputTextColor");
      }

      &::placeholder {
        @include themify($themes) {
          color: themed("inputPlaceholderColor");
        }
      }
    }

    div.card-body > span {
      display: inline-block;
      margin-bottom: 0.25rem;
            padding: .25rem 0 .75rem 0;
      position: relative;
      width: 100%;
      &.type-label,
            &.folder-label.expand,
            &.collection-label.expand {
        &::after {
          background-color: #c00;
          bottom: 0;
          content: "";
          height: 2px;
                    left: 17px;
          position: absolute;
          width: 4ch;
        }
      }
      h3 {
        font-weight: normal;
        text-transform: uppercase;
        a {
          margin-right: 5px;
        }
        @include themify($themes) {
          color: themed("textMuted");
        }
      }
    }
            &.type-label {
                h3.d-flex {
                    margin: 0 0 0 17px;
                    i {
                        padding: 2px;
                        margin: 0 0 2px 0;
                    }
                }
            }
            &.folder-label,
            &.collection-label {
                h3.d-flex {
                    margin-bottom: 0;
                }
            }

        }

    ul:last-child {
      margin-bottom: 5px;
    }

    .card-body a {
      @include themify($themes) {
        color: themed("headingColor");
        font-weight: themed("linkWeight");
      }

      display: block;
      margin-right: 5px;

      &:hover {
        text-decoration: none;
        &.text-muted {
          @include themify($themes) {
            color: themed("iconHover") !important;
          }
        }
      }
    }

    .show-active {
      display: none;
    }

    li {
      > .fa,
      > div > .fa {
        cursor: pointer;
      }
    }

    li.active {
      > .show-active,
      > div .show-active {
        display: inline;
      }
    }

    li.active {
      > a:first-of-type,
      > div a:first-of-type {
        font-weight: bold;
        @include themify($themes) {
          color: themed("linkColor");
        }
      }

      > .fa,
      > div > .fa {
        @include themify($themes) {
          color: themed("linkColor");
        }
      }
    }
  }
}

app-vault div.vault-filters div.card-body,
app-org-vault div.vault-filters div.card-body,
app-send div.vault-filters div.card-body {
    padding: 0 0 10px 0;
  ul.card-ul {
    margin-left: 0;
  }
}

/** fix app-vault-bulk-actions alignment issue **/
app-vault,
app-org-vault {
  app-vault-bulk-actions {
    display: flex;
    align-items: center;
  }
}

app-vault {
  .sidebar-panel {
    .organizations {
      .dropdown-toggle,
      .dropdown-menu {
        width: 100%;
      }
      .dropdown-menu {
        @include themify($themes) {
          background-color: themed("orgDropdownBackground");
        }
        ul {
          margin-left: 0;
          li {
            padding: 5px 10px;
            &:hover {
              background-color: $table-hover-bg;
            }
            i.fa-li {
              position: relative;
              left: 0;
            }
          }
        }
      }
    }
  }
}

app-password-generator {
  #lengthRange {
    width: 100%;
  }

  .card-password {
    .card-body {
      @include themify($themes) {
        background: themed("foregroundColor");
      }
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-family: $font-family-monospace;
      font-size: $font-size-lg;
      justify-content: center;
      text-align: center;
    }
  }
}

app-password-generator-history {
  .list-group-item {
    line-height: 1;
    @include themify($themes) {
      background: themed("backgroundColor");
    }

    .password {
      font-family: $font-family-monospace;
    }
  }
}

app-import {
  textarea {
    height: 150px;
  }
}

app-avatar {
  img {
    @extend .rounded;
  }
}

app-user-billing {
  .progress {
    height: 20px;

    .progress-bar {
      min-width: 50px;
    }
  }
}

app-sponsored-families {
  .inset-list {
    padding-left: 1.5rem;
  }
}

.container.page-content {
    padding-bottom: 20px;
}

.col-9 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > * {
        flex: 0 0 auto;
    }

    > .vertical-spacer {
        flex: 1 1 auto;
    }
}

.page-content > .row > .col-3:first-child {
    height: calc(100vh - $navbar-height - $navbar-bottom-margin);
    padding-top: $navbar-bottom-margin;
    position: sticky;
    top: $navbar-height;
}

app-organization-layout {
    .page-content > .row > .col-3:first-child {
        height: calc(100vh - $navbar-height - $navbar-bottom-margin - $org-header-height);
        top: $navbar-height + $org-header-height;
    }
}

/* Register Layout Page */
.layout {
  &.enterprise2 {
    header {
      background: #175ddc;
      color: #ced4da;

      &:before {
        background: #175ddc;
        content: "";
        height: 416px;
        left: 0;
        position: absolute;
        top: -76px;
        transform: skewY(-3deg);
        width: 100%;
        z-index: -1;
      }
      img.logo {
        height: 57px;
        margin: 12px 0 0;
        max-width: 284px;
        width: 284px;
      }
    }

    h2 {
      color: #ffffff;
      font-size: 1.8rem;
      margin: 100px 0 150px 0;
    }

    p {
      font-size: 1.4rem;
      margin: 20px 0 40px 0;

      &:before {
        content: "/";
        padding-right: 12px;
      }
      &:not(.highlight) {
        &:before {
          color: #1252a3;
        }
      }

      b {
        &:after {
          content: "⟶";
          font-size: 2rem;
          padding-left: 6px;
        }
      }
    }

    blockquote {
      font-size: 1.4rem;
      margin: 20px 0 0 0;
      padding-right: 40px;
    }
  }
}
