<div class="container page-content">
    <div class="row">
        <div class="col-3">
            <div class="card vault-filters">
                <div class="card-header">{{'settings' | i18n}}</div>
                <div class="card-body">
                    <ul class="fa-ul card-ul">
                        <li [ngClass]="{active: settingsFilter.account}" (click)="filter('account')">
                            <a>{{'myAccount' | i18n}}</a>
                        </li>
                        <li [ngClass]="{active: settingsFilter.options}" (click)="filter('options')">
                            <a>{{'options' | i18n}}</a>
                        </li>
                        <li [ngClass]="{active: settingsFilter.organizations}" (click)="filter('organizations')">
                            <a>{{'organizations' | i18n}}</a>
                        </li>
                        <li [ngClass]="{active: settingsFilter.billing}" (click)="filter('billing')" *ngIf="!selfHosted">
                            <a>{{'billing' | i18n}}</a>
                        </li>
                        <li [ngClass]="{active: settingsFilter['domain-rules']}" (click)="filter('domain-rules')">
                            <a>{{'domainRules' | i18n}}</a>
                        </li>
                        <li [ngClass]="{active: settingsFilter['emergency-access']}" (click)="filter('emergency-access')">
                            <a>{{'emergencyAccess' | i18n}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
